*{
margin: 0% auto;
padding: 0%;



}
body{
    background-color:#fff;
    font-family: sans-serif;
    font-size: 35px;
    width:100%;
    height: 430vw;
}

/*header stayle*/
header{
    width: 100%;
    height: 10vw;
    position:fixed;
}


header .coloraddtop{
    background-color: red;
    height: 20px;
    position:relative;


}
header img{
    width: 150px;
    height: 150px;
}
header h1{

    font-size:large;
    padding-top: 40px;
    color: orangered ;
    font-weight: bold;
    
    
       
      
     
}
 


header nav  .addcssproprity .callnow{
    
    padding-left:200px;
   
} 
header nav  .addcssproprity .callnow p{

    position: relative;
    animation-name: callnow;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/

}

@keyframes callnow {
    0%   {background-color:#fff; left:0px; top:0px;}
  100%  {background-color:#fff; left:200px; top:0px;}
   
  
  }
header nav  .addcssproprity .donatenow{

    padding-left: 250px;
   
    


}
header nav  .addcssproprity .donatenow a{
    background-color: orangered;
    border-radius: 10px;

}

header nav  .addcssproprity .donatenow a:hover{
    background-color:#fff;
    color: black;
    
    

}
header nav  .addcssproprity .donatenow a p:hover{
    background-color: #fff;
    color: black;
    

}
header nav  .addcssproprity .donatenow p{
    color: #fff;
    justify-content: center;
    justify-items: center;
    padding-top: 15px;
    font-size: medium;
}
header a p{
    font-size: medium;
    justify-content: center;
    justify-items: center;
    color: orangered;


}

header .donatenow p{

padding-left: 0%;
margin-right: 10px;

} 

/*section stayle */
body section{
height: 430vw;
width: 100%;
background-color: #d3d3d3;
text-align: center;
align-items: center;
align-content: center;
color: black;

}

section .section{
padding-top: 9%;

}
.headerphoto{
    padding-top: 10%;

background-image: url("image/cover_bg_12.jpg");

height: 60vw;

background-repeat:repeat-x;
background-size: auto;
background-size: 100% 100%;

}
section .section .headerphoto {
justify-content: center;
justify-items: center;

background-repeat:no-repeat;
padding-top: 30%;

}


section .section .headerphoto .goodworkfood h1{
    font-size: 200px;
    font-weight: bold;
    border: 2px solid red;
    text-transform: capitalize;
    word-spacing: 100pxpx;
    
    
    


}
section .section .headerphoto{

    color: #fff;
    word-spacing: 25px;
}




section .section .headerphoto .Contributnow h4{
    
    background-color: rgba(231, 66, 6, 0.911);

      width: 16%;
      height: 70px;
      justify-items: center;
      justify-content: center;
      padding-top: 23px;
      word-spacing: 2px;
    
      border-radius: 10px;
      color: #fff;
     
     
        background-color: red;
        position: relative;
        animation-name: Contributnow;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        
      
      
     

}

@keyframes Contributnow {
    0%   {background-color:red; left:0px; top:0px;}
    100%  {background-color:yellow; left:200px; top:0px;}
   
   
  }


section .section .headerphoto a{
padding-top: 1px;
text-decoration: none;


}

section .section .headerphoto h4:hover{
    color:#000;
    background-color:#afb3b0;
}
section .section .becomevolunteerallpage{
    width: 100%;
    height: 17vw;
    background-color: #fff;
    display: flex;
    

}
section .section .becomevolunteerallpage .becomevolunteer{
width: 20%;
justify-content: center;
justify-items: center;
padding-top: 60px;


}

section .section .becomevolunteerallpage h5,p{
    text-align: justify;
    text-align:left;


}
section .section .becomevolunteerallpage .becomevolunteer h5{

color: #000;
font-weight: bold;


}
section .section .becomevolunteerallpage .becomevolunteer p{
    color: 	#808080;
    font-weight: 10px;
    font-size: medium;
    
}

section .section .becomevolunteerallpage .happygiving{
    
    width: 20%;
    justify-content: center;
    justify-items: center;
    padding-top: 60px;

}
section .section .becomevolunteerallpage .happygiving h5{

    color: black;
     font-weight: bold;
     justify-content: center;
     justify-items: center;
}
section .section .becomevolunteerallpage .happygiving p{
    color: 	#808080;
    font-weight: 10px;
    font-size: medium;
    justify-content: center;
    justify-items: center;
    text-align: justify;
    text-align: left;

}

section .section .becomevolunteerallpage .donation{

    width: 20%;
    justify-content: center;
    justify-items: center;
    padding-top: 60px;


}

section .section .becomevolunteerallpage .donation h5{
    color: black;
    font-weight: bold;
    justify-content: center;
    justify-items: center;
}
section .section .becomevolunteerallpage .donation p{
    color: 	#808080;
    font-weight: 10px;
    font-size: medium;
    justify-content: center;
    justify-items: center;

}
section .section .becomevolunteerallpage .donation span{
color: crimson;
justify-content: center;
justify-items: center;
font-size: medium;
}

section .section .givingvirtueallpage{
width: 100%;
height: 130vw;
background-color: hsla(0, 9%, 96%, 0.938);



}
section .section .givingvirtueallpage .givingvirtue{
    justify-content: center;
    justify-items: center;
    width: 100%;
    
    height: 25vw;


}
section .section .givingvirtueallpage .givingvirtue h1{
    color: black;
    justify-content: center;
    justify-items: center;
    padding-top: 120px;
}
section .section .givingvirtueallpage .givingvirtue h5{
    color: #808080;
    font-size: medium;
    padding-top: 25px;
}
section .section .givingvirtueallpage .givingvirtue .onelinepadding{
    justify-content: center;
    justify-items: center;
    padding-top: 45px;

}
section .section .givingvirtueallpage .givingvirtue .oneline{
    
    border: 2px solid red;
    justify-content: center;
    justify-items: center;
    width: 7%;
    background-color: #ff0000;
    
    
}

section .section .givingvirtueallpage .givingvirtueimgeone{
    justify-content: center;
    justify-items: center;
    width: 100%;
    
    height: 40vw;

}
section .section .givingvirtueallpage .givingvirtueimgeone img{

    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
}
section .section .givingvirtueallpage .givingvirtueimagetwo{
    
    width: 100%;
    
    height: 40vw;
    display: flex;
    padding-top: 300px;
    

}
section .section .givingvirtueallpage .givingvirtueimagetwoone{
    
    padding-left: 30px;
    
    
    width: 40%;
    

}
section .section .givingvirtueallpage .givingvirtueimagetwoone img{
    
    
    width: 100%;
    height: 350px;
}
section .section .givingvirtueallpage .givingvirtueimagetwotwo{
    
    
    
    
    width: 40%;
    
   

}
section .section .givingvirtueallpage .givingvirtueimagetwotwo img{
  
    width:100%;
    height: 350px;
    
}
section .section .givingvirtueallpage .wherevolunteerscharity{
    
    justify-content: center;
    justify-items: center;
    width: 100%;
    border: 5px solid red solid ;
    height: 25vw;
    padding-top: 5px;
    display: flex;

}
section .section .givingvirtueallpage .wherevolunteerscharity h3{
    color: #000;
}
section .section .givingvirtueallpage .wherevolunteerscharity h3,p{
    
   
    padding-top: 20px;
    justify-content: center;
    justify-items: center;

    text-align: justify;
    text-align:left;

}
section .section .givingvirtueallpage .wherevolunteerscharity p{
    color:#808080;
    font-size: medium;
}
section .section .givingvirtueallpage .wherevolunteerscharity .wherewework{

    width: 25%;
    justify-content: center;
    justify-items: center;
    padding-top: 110px;
}

section .section .givingvirtueallpage .wherevolunteerscharity .volunteers{
    
    width: 25%;
    justify-content: center;
    justify-items: center;
    padding-top: 110px;

}


section .section .givingvirtueallpage .wherevolunteerscharity .charity{
    
    width: 25%;
    justify-content: center;
    justify-items: center;
    padding-top: 110px;
    text-align: center;

}
section .section .ourgalleryallpage{

    width: 100%;
    height: 170vw;
    background-color: #fff;
}

section .section .ourgalleryallpage .ourgallery{
    width: 100%;
    height: 20vw;
    
    padding-top: 100px;

}
section .section .ourgalleryallpage .ourgallery .lineourgallery{
    padding-top: 30px;
}
section .section .ourgalleryallpage .ourgallery h1{
    color: 	#696969;
}
section .section .ourgalleryallpage .ourgallery .lineoneofourgallry{
    border: 2px solid red;
    width: 7%;
    background-color: #ff0000;
    justify-content: center;
    justify-items: center;
    

}
section .section .ourgalleryallpage .ourgalleryimgeone{

    width: 100%;
    height: 50vw;
    
    display: flex;
    
    
}



section .section .ourgalleryallpage .ourgalleryimgeone .ourgalleryimgeoneone{

    background-image: url("image/sawulaswuone.jpg");
    width: 40%;
    
    padding-top: 600px;
}


section .section .ourgalleryallpage .ourgalleryimgeone .ourgalleryimgeonetwo{
    background-image: url("image/sawone.jpg");
    width: 40%;
    padding-top: 600px;

}

section .section .ourgalleryallpage .ourgalleryimgetwo{


    width: 100%;
    height: 50vw;
    
    display: flex;
    padding-top: 30px;
}

section .section .ourgalleryallpage .ourgalleryimgetwo .ourgalleryimgetwoone{

    background-image: url("image/sawu1.jpg");
    width: 40%;
    padding-top: 600px;
}

section .section .ourgalleryallpage .ourgalleryimgetwo .ourgalleryimgetwotwo{

    background-image: url("image/sawuyou.jpg");
    width: 40%;
    padding-top: 600px;
}



section .section .ourgalleryallpage .ourprojectsupportsusallpage{
    width: 100%;
    height: 50vw;
    

}
section .section .ourgalleryallpage .ourprojectsupportsusallpage p{
    color:#ff0000
}
section .section .ourgalleryallpage .ourprojectsupportsusallpage .segallryandourproject{
    width: 100%;
    justify-content: center;
    justify-items: center;
    padding-top: 60px;
    height: 10vw;
    display:inline-block;
    

}

section .section .ourgalleryallpage .ourprojectsupportsusallpage .segallryandourproject h5{
    color: #fff;
    border: 10px solid red;
    background-color: #ff0000;
    width: 15%;
    border-radius: 10px;
}
section .section .ourgalleryallpage .ourprojectsupportsusallpage .segallryandourproject h5:hover{
    background-color: #696969;
    border: 10px solid #696969;
}
section .section .ourgalleryallpage .ourprojectsupportsusallpage .segallryandourproject h1{
    color: #808080;
    padding-top: 150px;
}

section .section .ourgalleryallpage .ourprojectsupportsusallpage .segallryandourproject .linediveone .linediv{
    border: 1px solid red;
    background-color: #ff0000;
    width: 7%;
    


}
section .section .ourgalleryallpage .ourprojectsupportsusallpage .segallryandourproject .linediveone{
padding-top: 50px;

}
section .section .ourgalleryallpage .ourprojectsupportsusallpage .segallryandourproject .seegallry{
    width: 100%;
    justify-content: center;
    justify-content: center;
  
        
        position: relative;
        animation-name: seegallry;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        
      
      
    

}

@keyframes seegallry {
    0%   {background-color:#fff; left:0px; top:0px;}
    100%  {background-color:#fff; left:200px; top:0px;}
   
   
  }
  

section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive{
width: 100%;
height: 15vw;
justify-content: center;
justify-items: center;
padding-top: 100px;
padding-top: 250px;
display: flex;
 

}


section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive p{

    display: flex;
    font-size: medium;
}
section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .educationalfreeFood{
    width: 25%;
    display: block;
    
    justify-content: center;
    justify-items: center;
    padding-top: 70px;
    height: 15vw;
    


}

section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .educationalfreeFood .diveducational{
    padding-top: 20px;
}

section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .educationalfreeFood .diveducational .educational{
    border: 2px solid 	#c0c0c0;
    justify-content: center;
    justify-items: center;
    height: 100px;
    padding-top: 20px;
    display: flex;

}
section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .educationalfreeFood .divfreeFood{

    padding-top: 20px;
}

section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .educationalfreeFood .divfreeFood .freeFood{

    border: 2px solid 	#c0c0c0;
    justify-content: center;
    justify-items: center;
    height: 100px;
    padding-top: 20px;
    display: flex;
}




section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .shelter{
    width: 25%;
    display: block;
    
    justify-content: center;
    justify-items: center;
    padding-top: 70px;
    height: 15vw;

}
section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .shelter .divwhelterwheelchair{

    padding-top: 20px;
}
section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .shelter .divwhelterwheelchair .whelterwheelchair{
    border: 2px solid 	#c0c0c0;
    justify-content: center;
    justify-items: center;
    height: 100px;
    padding-top: 20px;
    display: flex;

}

section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .shelter .divwheelchair{
    padding-top: 20px;
}

section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .shelter .divwheelchair .wheelchair{

    border: 2px solid 	#c0c0c0;
    justify-content: center;
    justify-items: center;
    height: 100px;
    padding-top: 20px;
    display: flex;


}




section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .income{
    width: 25%;
    display: block;
    
    justify-content: center;
justify-items: center;
padding-top: 70px;
height: 15vw;
}

section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .divincomesupprt{

    padding-top: 20px;
}
section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .divincomesupprt .incomesupport{

    border: 2px solid 	#c0c0c0;
    justify-content: center;
    justify-items: center;
    height: 100px;
    padding-top: 20px;
    display: flex;
}


section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .divsupport{
    padding-top: 20px;
}

section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .divsupport .support{

    border: 2px solid 	#c0c0c0;
    justify-content: center;
    justify-items: center;
    height: 100px;
    padding-top: 20px;
    display: flex;
}


section .section .bankinformationallpage{

width: 100%;
height: 50vw;
padding-top: 100px;
background-color: #dcdcdc;

display: inline-block;
padding-top: 0%;

}
section .section .bankinformationallpage .bankinformation{
    width: 100%;

    height: 10vw;
    padding-top: 0%;
    position: relative;
      
}
section .section .bankinformationallpage .bankinformation h1{
    color: #696969;
    padding-top: 50px;
    
        
      
      
    
}



section .section .bankinformationallpage .divbankinformation{
    width: 100%;

height: 3vw;

}
section .section .bankinformationallpage .divbankinformation .linedivbankinformation{
    
    background-color: #ff0000;
    width: 7%;

}

section .section .bankinformationallpage .photbankinformation{
width: 100%;

height: 47vw;
display: flex;
justify-content: center;
justify-items: center;
 padding-bottom: 300px;

}


section .section .bankinformationallpage .photbankinformation .onephotbankinformation{
    
    width:25%;
    background-image: url("image/cbe2.png.jpg");
    background-repeat:repeat-x;
    background-size: auto;
     background-size: 100% 100%; 
     padding-top: 100px;
     

}
section .section #divcommbank{
    padding-top: 150px;
}

section .section #commbank{
    
    border-radius: 0px 0px 40px 0px;
    background-color: #fff;
    height: 300px;
}
section .section #commbank p{

    padding-top: 100px;
    display: flex;
    font-size: medium;
}
section .section #commbank a{
    text-decoration: none;
    color: #808080;
}
section .section #commbank a:hover{
    color: #ff0000;
}

section .section .bankinformationallpage .photbankinformation .twophotbankinformation{
   
  width: 25%; 
  background-image: url("image/hibratbank.jpg");
  background-repeat:repeat-x;
  background-size: auto;
  background-size: 100% 100%;
  padding-top: 100px;
}

section .section #hbank{

    

    height: 220px;
}

section .section #divhbank{
padding-top: 150px;


}
section .section #divhbank p{
    font-size: medium;
    padding-top:50px ;
    justify-content: center;
    justify-items: center;
    padding-left: 80px;
    color: #696969;
}
section .section #divhbank a{
    text-decoration: none;
    
}
section .section #linkcommbank p:hover{
    color: #ff0000;
}
section .section #hbank{
    background-color: #fff;
    border-radius: 40px 0px 40px 0px;
    justify-content: center;
    justify-items: center;
}


section .section  #textphotbankinformation{
    
    border-radius: 40px 0px 40px 0px;
    background-color:#fff;
    height: 250px;
    width: 350px;

}
section .section  #textphotbankinformation p{
    font-size: medium;
    justify-content: center;
    justify-items: center;
    padding-left: 100px;
}
section  .section   a{
    text-decoration: none;
    color: #696969;
}
section  .section   a:hover{
    color: #ff0000;
}




/*footer stayle */
footer{
    width: 100%;
    height: 13vw;
    background-color:rgba(231, 66, 6, 0.911);
    padding-bottom: 0%;

    
}
footer .divfooter .footermaincontent{
    width: 45%;
    justify-content: center;
    justify-items: center;
    text-align: center;

}
footer .divfooter .footer .footermaincontent p{
    
    font-size:medium;
    justify-content: center;
    justify-items: center;
    display:inline-block;

    

   
}
footer .divfooter .footer .footermaincontent .copyrigt{
    padding-top: 70px;
    display: flex;
}
footer .divfooter .footer .footermaincontent .copyrigt p{

    display: flex;
    justify-content: center;
    justify-items: center;
}
footer .divfooter .footer .footermaincontent .madewith{
    padding-top: 0%;
    
}

footer .divfooter p{
    color: 	#fff;
    font-weight: bold;
    font-size: medium;
    justify-content: center;
    justify-items: center;

}

footer #Copyrigt{
padding-top: 30px;

}
 
footer  #madewith{
    font-size: medium;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-top: 0%;
    
    display: flex;
}
footer .divfooter span{
    color: 	#c0c0c0;
    font-size: medium;
}
footer .divfooter span:hover{
    color: #fff;
}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
body{
    display: inline-block;
    justify-items: center;
    justify-content: center;
    height: 450vw;
    width: 100%;


}
section{
    display: inline-block;
    justify-items: center;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
    height: 450vw;
}
section .section{
    padding-top: 9%;
    
    }
section .section{ 
    display: inline-block;
    justify-items: center;
    justify-content: center;
    padding-top: 20px;
    height: 450vw;
}
section .section .becomevolunteerallpage{
    display: inline-block;
    justify-items: center;
    justify-content: center;
    padding-top: 20px; 
}
section .section .becomevolunteerallpage{

    display: inline-block;
    justify-items: center;
    justify-content: center;
    padding-top: 20px;
}
section .section .givingvirtueallpage .givingvirtueimagetwo{

    display: inline-block;
    justify-items: center;
    justify-content: center;
    padding-top: 20px;  
}

section .section .givingvirtueallpage .wherevolunteerscharity{
    display: inline-block;
    justify-items: center;
    justify-content: center;
    padding-top: 20px; 


}
section .section .givingvirtueallpage .wherevolunteerscharity h3{
    display:flex;
    justify-items: center;
    justify-content: center;
    padding-top: 20px; 

}
section .section .ourgalleryallpage{

    display: inline-block;
    justify-items: center;
    justify-content: center;
    padding-top: 20px; 

}
section .section .ourgalleryallpage .ourgalleryimgeone{
    display: inline-block;
    justify-items: center;
    justify-content: center;
    padding-top: 20px;


}
section .section .ourgalleryallpage .ourgalleryimgetwo{

    display: inline-block;
    justify-items: center;
    justify-content: center;
    padding-top: 20px

}
section .section .ourgalleryallpage .ourprojectsupportsusallpage{

    display: inline-block;
    justify-items: center;
    justify-content: center;
    padding-top: 20px

}
section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive{

    display: inline-block;
    justify-items: center;
    justify-content: center;
    padding-top: 20px

}
section .section .ourgalleryallpage .ourprojectsupportsusallpage .collectionofdive .educationalfreeFood{
    display: inline-block;
    justify-items: center;
    justify-content: center;
    padding-top: 20px

}
section .section .bankinformationallpage{

    display: inline-block;
    justify-items: center;
    justify-content: center;
    padding-top: 20px  
}


footer .divfooter{
    width: 100%;

    padding-top: 100px;
    display: flex;
}




}













/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
body{
display: inline-block;

justify-content: center;
justify-items: center;



}

section{
    display: inline-block;
    justify-items: center;
        justify-content: center;
        padding-top: 20px;
}
section .section{
    display: inline-block;
    justify-items: center;
        justify-content: center;
        padding-top: 20px;
}





}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        display: inline-block;
        justify-items: center;
        justify-content: center;
        

    }
    section{
        display: inline-block;
        justify-items: center;
        justify-content: center;
        padding-top: 20px;
    }
    section .section{
        display: inline-block;
        justify-items: center;
        justify-content: center;
        padding-top: 20px;
    
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    body{
      /*  display: flex;*/
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
body{
   /* display: flex;*/
}

}